.container {
    display: flex;
    flex-direction: column;
}

nav, aside, main {
    width: 100%;
}

nav {
    background-color: blue;
}

main {
    background-color: yellow;
}

aside {
    background-color: darkred;
}

.bilder {
    height: 100px;
    width: 70%;
    border: 2px solid black;
    padding: 5px ;
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.image {
    width: 100%;
}

@media screen and ( min-width: 768px) {
    .container {
        /* display: flex; */
        flex-direction: row;
        height: 100vh;
       
    }
    

    nav {
        width: 20%;
    }

    main {
        width: 60%;
    }

    aside {
        width: 20%;
    }

    .main-container {
        flex-direction: row; 
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .bilder{
        width: 40%;
        height: 30vh;
    }
}